.card {
    background-color: #0f1d3a;
    padding: 1rem;
    border-radius: 20px;
    transition: 0.5s;
}

.card:hover {
    opacity: 0.9;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.7rem;
    .card-title {
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
    }
}

.card-body {
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Nunito';
    color: #546790;
    font-size: 0.8rem;
    margin-bottom: 0.9rem;
    div {
        margin-right: 7px;
        i {
            margin-right: 5px;
        }
    }
}

.card-footer {
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Nunito';
    color: #546790;
    font-size: 0.9rem;
    div {
        margin-right: 25px;
        i {
            margin-right: 7px;
        }
    }
}