@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #192744;
}

input,
textarea {
    height: 55px;
    background-color: #253657;
    color: #0F1D3A;
    border-radius: 50px;
    border: none;
    font-weight: 700;
    font-size: 0.8rem;
    padding-left: 30px;
    padding-right: 8px;
}

input:focus {
    outline: none !important;
    font-weight: 500;
    color: white;
}

.btn {
    border: none;
    text-align: center;
    height: 55px;
    color: white;
    background-color: #44ADFF;
    cursor: pointer;
}

h1 {
    font-size: 24px;
    color: white;
}

p {
    font-size: 14px;
    color: #7389B7;
}

a {
    text-decoration: none;
    color: #3e9ce8;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 24px;
    .loader {
        border: 16px solid #0F1D3A;
        border-top: 16px solid #44ADFF;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}